/* scss/_variables.scss */
$primary-color: #6c63ff;
$secondary-color: #aaaaaa;
$third-color: #FF6963;
$background-color-private: #D9E1FF;
$calendar-color: rgba(107, 99, 255, 0.589);
$background-color-public: #FFD8D6;
